p,white{color:#000;}
body{font-size:15px;background-image:url(./bg2.jpg);background-size:cover;padding-top:60px;}
.demo{font-family:'Conv_bankgthd',Sans-Serif;font-size:50px;}
.demoabout{font-family:'Conv_bankgthd',Sans-Serif;font-size:40px;}
.smalldemo{font-family:'Conv_bankgthd',Sans-Serif;font-size:20px;}
.blackhr{color:#000;border-bottom-color:#000;border-top-color:#000;}